$colorBalck: black;
$colorWhite: white;
$colorRed: red;

$mainFont: 'Old Standard TT';

$media-sm: 768px;
$media-md: 992px;
$media-lg: 1200px;


@mixin respond-to($media) {
	@if $media == sm {
	@media (min-width: $media-sm) { @content; }
	}
	@else if $media == md {
	@media (min-width: $media-md) { @content; }
	}
	@else if $media == lg {
	@media (min-width: $media-lg) { @content; }
	}
}

@font-face {
    font-family: $mainFont;
    src: local('Old Standard TT Regular'), local('OldStandardTT-Regular'), url('../fonts/oldstandardttregular.woff2') format('woff2'), url('../fonts/oldstandardttregular.woff') format('woff'), url('../fonts/oldstandardttregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: $mainFont;
    src: local('Old Standard TT Italic'), local('OldStandardTT-Italic'), url('../fonts/oldstandardttitalic.woff2') format('woff2'), url('../fonts/oldstandardttitalic.woff') format('woff'), url('../fonts/oldstandardttitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: $mainFont;
    src: local('Old Standard TT Bold'), local('OldStandardTT-Bold'), url('../fonts/oldstandardttbold.woff2') format('woff2'), url('../fonts/oldstandardttbold.woff') format('woff'), url('../fonts/oldstandardttbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.nopadding{
	padding:0;
	margin: 0;
}

.selectHolder select{
	display: none;overflow: hidden;opacity: 0;height: 0;width: 0;
}

.slick-slider{
	*{
		outline: none;
	}
}

body{
	font-size: 16px;
	color: $colorBalck;
	background-color: $colorWhite;
	font-family: $mainFont;
	font-weight: 400;
	overflow-x: hidden;
}

section{
	position: relative;
}



a{
	color: $colorBalck;
	text-decoration: none;
	&:visited{
		color: $color1;	
	}
	&:hover{
		text-decoration: underline;
	}
}



